################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SharpProxy
/SharpProxy/bin/Debug
/SharpProxy/obj
/SharpProxyTest/bin/Debug/net461
/SharpProxyTest/obj
